
.card {
    background-image: url("https://img.freepik.com/free-photo/beautiful-tropical-beach-sea_74190-6796.jpg?w=996&t=st=1661870881~exp=1661871481~hmac=dbdbb7528440f9fe817eb4990ba1f4383c53b8c7a2c1eea1df1f93c30b442b4a");
    background-size: cover;
    height: 100vh;
}
.h-center {
    text-align: center;

}
.heading {
    color: red;
    font-weight: bold ;
    font-size: 50px;
}
.paragraph {
    font-family: "Roboto";
    color: white;
}

