.bg-container {
    background-image: url("https://img.freepik.com/free-photo/indian-chicken-biryani-served-terracotta-bowl-with-yogurt-white-background-selective-focus_466689-72554.jpg?w=996&t=st=1662029728~exp=1662030328~hmac=d42cb0dbabff024d965e0420be042ca4a2ac142978b8b101ddc76218b225b6f4");
    height: 120vh;
    background-size: cover;
}
.card {
    background-color: rgb(235, 198, 160);
    text-align: center;
    font-style: "bree serif";
    font-size: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}
.paragarph {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: italic;
}
.button {
    height: 36px;
    width: 138px;
    border-radius: 10px;
    background-color: rgb(68, 34, 101);
    color: white;
}
.button-green {
    height: 36px;
    width: 138px;
    border-radius: 20px;
    background-color: rgb(38, 80, 38);
    color: white;
}
.heading {
    text-align: start;
    font-size: 30px;
    font-weight: bold;

}
.para {
    text-align: start;
    font-style: italic;
    font-size: 10px;
}